# Logs
logs
*.log

# JetBrains
.idea

# Dependency directory
node_modules

# reports
**/tmp
**/java_coverage_tests

# sdk-coverage-tests
**/spec/coverage/generic/
**/test/coverage/generic/
coverage-test-report.xml

# yarn
.yarn
