<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="java_coverage_tests" verbose="1" parallel="classes" thread-count="8">
    <listeners>
        <listener class-name="org.testng.reporters.JUnitXMLReporter"></listener>
    </listeners>
    <test name="coverage"   >
        <packages>
            <package name="test.coverage.generic" />
        </packages>
    </test>
</suite>
